.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.button {
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #000000;
  }
  
  .type1::after {
    content: "SOBRE-NOS";
    height: 60px;
    width: 200px;
    background-color: #00fff2;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(60px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "CONHEÇA-NOS";
    height: 60px;
    width: 200px;
    background-color: #fff;
    color: #00fff2;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

h1{
    color: white;
}
